@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color1: #af99ff;
  --color2: #caadff;
  --color3: #ffc2e2;
  --color4: #ffadc7;
  --color5: #ff99b6;
}
main .flex {
  display: flex;
}
main img {
  max-width: 80%;
  /* margin: auto; */
}
main .resum-img {
  width: 50%;
}

main .container.flex {
  border: 1px solid #666;
  border-radius: 12px;
  overflow: hidden;
  margin: 20px;
  background-color: #fff;
  box-shadow: 8px 8px 0 rgba(32, 33, 37, 0.1);
  max-width: 40%;
}

main img {
  border-radius: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
}
main ul {
  /* list-style: none; */
}

main h3 {
  font-size: 3rem;
  margin-top: 20px;
}

main li {
  font-size: 1.8rem;
}
main .flex {
  gap: 30px;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
  max-width: 1140px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

html {
  font-size: 10px;
}
header {
  background-color: var(--color1);
}
header div {
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}
.logo {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 30px;
  transition: all 0.3s ease-in-out;
}
.navigation a:hover {
  color: rgb(116, 31, 201);
}

.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;

  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);

  background-attachment: fixed;
}
.hero h2 {
  color: white;
  font-size: 3.5rem;
  font-weight: 700;
}
.hero h2 span {
  display: inline-block;
  margin-top: 10px;
  color: white;
  font-size: 6rem;
  font-weight: 500;
}
.hero h3 {
  color: rgb(193, 140, 243);
  font-size: 3rem;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 30px;
}
.resume {
  background-color: #eee;
  padding: 50px 0;
  min-height: 100vh;
}
.resume h5 {
  font-size: 2rem;
}
.resume p {
  font-size: 1.5rem;
}
.resume h3,
.project h3,
.contact-me h3 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}
.project {
  padding: 50px 0;
  background-color: #eee;
  min-height: 100vh;
}
.project p {
  font-size: 1.5rem;
}
.project h5 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.card:hover {
  transform: translatey(-15px);
  background-color: rgb(231, 223, 238);
}
.card {
  transition: all 0.3s;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 30px;
}
.footer {
  background-color: var(--color1);
}
.footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 2em;
}
.footer p {
  font-size: 1.3rem;
  margin-bottom: 0% !important;
}
.footer span {
  font-size: 2rem;
}
.active {
  color: var(--color4) !important;
}

.social a {
  color: #fff;
  margin-right: 3rem;
  font-size: 3rem;
  transition: all 0.3s;
}
.social a:hover:nth-child(1) {
  color: #1877f2;
}
.social a:hover:nth-child(2) {
  color: #0077b5;
}
.social a:hover:nth-child(3) {
  color: #00405d;
}

.hero a {
  color: aliceblue;
}
form input,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
form {
  border: 1px solid #fff;
  padding: 20px;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  background-color: #fff;
  font-size: 1.5rem;
}
.contact-me {
  padding: 50px 0;
  min-height: 100vh;
  background-color: #eee;
}
label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
textarea {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: blueviolet;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin-top: 10px;
  cursor: pointer;
}

@media (max-width: 480px) {
  html {
    font-size: 8px;
  }
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  .flex {
    flex-wrap: wrap;
  }
  .card {
    margin-left: auto;
    margin-right: auto;
  }
  .footer .flex {
    justify-content: center;
    flex-direction: column;
  }
  header .container {
    flex-direction: column;
    justify-content: space-evenly;
  }

  main .resum-img {
    width: 100%;
  }

  main .flex {
    flex-direction: column;
  }

  main .container.flex {
    max-width: 100%;
  }
  .resum-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1140px) {
  html {
    font-size: 8px;
  }
  .container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  .flex {
    flex-wrap: wrap;
  }

  .footer .flex {
    justify-content: center;
    flex-direction: column;
  }

  main .container.flex {
    max-width: 100%;
  }

  .resum-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main img {
    max-width: 100%;
  }
}
